<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieSync</title>
    <link href="/css/signin.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet">
  </head>
  <body>
    
    <img id="auth-bg" src="/css/images/sign-in-bg.png" alt="movies posters">

    <div id="auth">
      
  
      <h1 id="app-name">MovieSync</h1>
      <p id="app-slogan">Your Gateway to Seamless Movie Tracking!</p>

      <form action="/auth/sign-in" method="POST">
      
      <div id="form-container">
        <div class="username-container">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
        </div>

        <div class="password-container">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>

        <div class="button-container">
          <button type="submit">Sign in</button>
        </div>
      </form>
        <div class="sign-up-container">
          <a href="/auth/sign-up">New user? Register</a>
        </div>

      </div>
    </div>
    
  </body>
</html>