<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieSync</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <div id="auth">
      <img id="auth-bg" src="/css/sign-in-bg2.png" alt="movies posters">
      <div class="morphsim"></div>
      
  
      <h1 id="app-name">MovieSync</h1>
      <p id="app-slogan">Your Gateway to Seamless Movie Tracking!</p>

      <div class="glass-container">
        <div class="glass-card">

      <form action="/auth/sign-in" method="POST">
      
        <div class="username-container">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" />
        </div>

        <div class="password-container">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
        </div>

        <div class="button-container">
          <button type="submit">Sign in</button>
        </div>
      </form>
        <div class="sign-up-container">
          <a href="/auth/sign-up">New user? Register</a>
        </div>

      </div>
    

    </div>

  </body>
</html>