<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieSync</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <div id="auth">
      <img id="auth-bg" src="/css/images/sign-in-bg.png" alt="Movie Posters">
  
      <h1 id="app-name">MovieSync</h1>
      <p id="app-slogan">Your Gateway to Seamless Movie Tracking!</p>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>

    </div>
  </body>
</html>