/* VIEWS/MOVIES/SHOW : VIEW MOVIE PAGE */

body {
    background-color: #000000;
    font-family: 'Made Tommy', sans-serif;
    color: #ffffff;
}

#movie-details-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    object-fit: cover;
    z-index: -1;
}

#elements-container {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 45px;
}

#back-button-image {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
}

#movie-name {
    color: white;
    font-size: 50px;
    font-weight: 900;
    /* line-height: 50px; */
}

#movie-genre {
    color: white;
    font-size: 25px;
    font-weight: 100;
    margin-top: -25px;
    margin-bottom: 45px;
}

#movie-review {
    color: #FF7300;
    font-size: 20px;
    margin-bottom: -10px;
}

#movie-review-details {
    color: white;
    font-weight: 100;
    font-size: 16px;
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 50px;
}

#movie-recommendation {
    color: white;
    font-size: 16px;
    margin-bottom: -120px;
}

#action-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#delete-button-image {
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 200px;
}

#edit-button-image {
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 200px;
    cursor: pointer;
}

