/* VIEWS/MOVIES/LIST : WATCHLIST PAGE */

body {
    background-color: #c59090;
    font-family: 'Made Tommy', sans-serif;
    color: #ffffff;
}

#list-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    object-fit: cover;
    z-index: -1;
}

#elements-container {
    margin-left: 75px;
    margin-top: 45px;
}

#list-title {
    color: white;
    font-size: 50px;
    font-weight: 900;
    /* line-height: 50px; */
}

#back-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    opacity: 22%;
    border-radius: 50px;
    margin-top: 15px;
}

#add-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    opacity: 22%;
    border-radius: 50px;
    margin-top: 200px;
    
}

