<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Movies</title>
    <link href="/css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>

    <img id="home-bg" src="/css/home-page2.png" alt="movie image">

    <%- include('../partials/_navbar.ejs') %>

<div id="elements-container">
    <h1 class="welcome-note">WELCOME TO <br>MOVIESYNC</h1><br></h1>

    <div id="buttons">
    <a href="/users/<%=user._id%>/movies/list">
        <button id="list-button" type="button">My List</button>
    </a>

    <a href="/users/<%=user._id%>/movies/new">
        <button id="add-button" type="button">Add New</button>
    </a>
</div>

</div>


</body>
</html>