<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Movie</title>
    <link href="/css/style4.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div id="elements-container">

    <form action="/users/<%= user._id %>/movies" method="POST">
        <label for="name">Movie Title</label>
        <input type="text" name="name" id="name" />

        <label for="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="fantasy">fantasy</option>
            <option value="romance">romance</option>
            <option value="mystery">mystery</option>
            <option value="horror">horror</option>
            <option value="comedy">comedy</option>
            <option value="action">action</option>
            <option value="crime">crime</option>
            <option value="adventure">adventure</option>
            <option value="science-fiction">science-fiction</option>
            <option value="fiction">fiction</option>
            <option value="musical">musical</option>
            <option value="animation">animation</option>
            <option value="other">other</option>
        </select>

        <label for="review">Review</label>
        <textarea name="review" id="review"></textarea>

        <label for="recommendation">Recommendation</label>
        <select id="recommendation" name="recommendation">
            <option value="recommended">Recommended</option>
            <option value="not-recommended">Not Recommended</option>
        </select>

            <button type="submit">Add</button>
    </form>

    <a href="/users/<%=user._id%>/movies">
        <button type="button">Go Back</button>
    </a>
</div>
    
</html>