<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Movie</title>
    <link href="/css/new.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <img id="movie-details-bg" src="/css/images/movie-details-bg.png" alt="movie image">


    <div id="elements-container">


        <a href="/users/<%=user._id%>/movies">
            <img id="back-button-image" src="/css/images/back-button.png" alt="back button">
        </a>
        
    <form action="/users/<%= user._id %>/movies" method="POST">
        <label for="name" id="movie-title">Movie Title</label>
        <input type="text" name="name" id="name" />

        <label for="genre" id="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="fantasy">fantasy</option>
            <option value="romance">romance</option>
            <option value="mystery">mystery</option>
            <option value="horror">horror</option>
            <option value="drama">drama</option>
            <option value="comedy">comedy</option>
            <option value="action">action</option>
            <option value="crime">crime</option>
            <option value="adventure">adventure</option>
            <option value="science-fiction">science-fiction</option>
            <option value="fiction">fiction</option>
            <option value="musical">musical</option>
            <option value="animation">animation</option>
            <option value="other">other</option>
        </select>

        <label for="review" id="review">Review</label>
        <textarea name="review" id="review"></textarea>

        <button id="submit-button" type="submit">
            <img id="tick-button-image" src="/css/images/tick-button-image.png" alt="tick button icon">
        </button>
    </form>

</div>
    
</html>